<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">

<head>
	<meta charset="UTF-8">
	<title>勤怠情報変更｜LMS</title>
</head>

<body>

	<th:block th:if="${session.loginUserDto.role == '0001'}">
		<h2>勤怠管理</h2>
	</th:block>
	<th:block th:if="${session.loginUserDto.role != '0001'}">
		<h2>勤怠管理 <small>( [[${attendanceForm.userName}]] )</small></h2>
		<th:block th:if="${session.loginUserDto.leaveFlg == '1'}">
			<h2><small>途中退校日：${dispLeaveDate}</small></h2>
		</th:block>
	</th:block>

	<div class="row">
		<div class="bs-component col-sm-12">

			<form id="updateForm" th:action="@{/attendance/update}" method="post" onsubmit="return updateDialog()"
				th:object="${attendanceForm}">

				<!-- 李宏博 – Task.27：エラー表示エリア -->
				<div th:if="${#fields.hasErrors('*')}" class="help-inline error">
					<ul>
						<li th:each="err : ${#fields.allErrors()}" th:text="${err}"> </li>
					</ul>
				</div>

				<table class="table table-hover dataTable no-footer">
					<!-- 李宏博 – Task.29 -->
					<thead id="head">
						<tr>
							<th class="w140">日付</th>
							<th class="w140">コース内容</th>
							<th class="w70"></th>
							<th class="w180">出勤</th>
							<th class="w180">退勤</th>
							<th class="w90">中抜け時間</th>
							<th class="w90">ステータス</th>
							<th class="w240">備考</th>
						</tr>
					</thead>
					<!-- 李宏博 – Task.29 -->
					<tbody id="scrollBox">
						<th:block th:each="dailyAttendanceForm, stat : *{attendanceList}">
							<tr>
								<th:block>
									<input type="hidden" th:name="|attendanceList[${stat.index}].isToday|"
										th:value="${dailyAttendanceForm.isToday}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].studentAttendanceId|"
										th:value="${dailyAttendanceForm.studentAttendanceId}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].trainingDate|"
										th:value="${dailyAttendanceForm.trainingDate}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].dispTrainingDate|"
										th:value="${dailyAttendanceForm.dispTrainingDate}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].sectionName|"
										th:value="${dailyAttendanceForm.sectionName}" />
									<input type="hidden" th:name="|attendanceList[${stat.index}].statusDispName|"
										th:value="${dailyAttendanceForm.statusDispName}" />
								</th:block>
								<td class="w140">[[${dailyAttendanceForm.dispTrainingDate}]]</td>
								<td class="w140">[[${dailyAttendanceForm.sectionName}]]</td>
								<!-- 李宏博 – Task.28　開始-->
								<td class="w70">
									<button type="button" th:onclick="'setTime(' + ${stat.index} + ')'"
										class="btn btn-success default-button">定時</button>
								</td>
								<!-- 李宏博 – Task.26　開始-->
								<td class="w70">
									<select th:id="|startHour_${stat.index}|"
										th:name="|attendanceList[${stat.index}].trainingStartHourTime|"
										th:style="${#fields.hasErrors('attendanceList[__${stat.index}__].trainingStartHourTime')} ? 'border-color:#b94a48' : ''"
										class="form-control">
										<option
											th:each="trainingStartHourTime : ${attendanceForm.trainingStartHourTime}"
											th:value="${trainingStartHourTime.value}" th:inline="text"
											class="form-control"
											th:selected="${trainingStartHourTime.value == dailyAttendanceForm.trainingStartHourTime}">
											[[${trainingStartHourTime.value}]]</option>
									</select>
								</td>
								<td>
									:
								</td>
								<td class="w70">
									<select th:id="|startMinute_${stat.index}|"
										th:name="|attendanceList[${stat.index}].trainingStartMinuteTime|"
										th:style="${#fields.hasErrors('attendanceList[__${stat.index}__].trainingStartMinuteTime')} ? 'border-color:#b94a48' : ''"
										class="form-control">
										<option
											th:each="trainingStartMinuteTime : ${attendanceForm.trainingStartMinuteTime}"
											th:value="${trainingStartMinuteTime.value}" th:inline="text"
											class="form-control"
											th:selected="${trainingStartMinuteTime.value == dailyAttendanceForm.trainingStartMinuteTime}">
											[[${trainingStartMinuteTime.value}]]</option>
									</select>
								</td>
								<td class="w70">
									<select th:id="|endHour_${stat.index}|"
										th:name="|attendanceList[${stat.index}].trainingEndHourTime|"
										th:style="${#fields.hasErrors('attendanceList[__${stat.index}__].trainingEndHourTime')} ? 'border-color:#b94a48' : ''"
										class="form-control">
										<option th:each="trainingEndHourTime : ${attendanceForm.trainingEndHourTime}"
											th:value="${trainingEndHourTime.value}" th:inline="text"
											class="form-control"
											th:selected="${trainingEndHourTime.value == dailyAttendanceForm.trainingEndHourTime}">
											[[${trainingEndHourTime.value}]]</option>
									</select>
								</td>
								<td>
									:
								</td>
								<td class="w70">
									<select th:id="|endMinute_${stat.index}|"
										th:name="|attendanceList[${stat.index}].trainingEndMinuteTime|"
										th:style="${#fields.hasErrors('attendanceList[__${stat.index}__].trainingEndMinuteTime')} ? 'border-color:#b94a48' : ''"
										class="form-control">
										<option
											th:each="trainingEndMinuteTime : ${attendanceForm.trainingEndMinuteTime}"
											th:value="${trainingEndMinuteTime.value}" th:inline="text"
											class="form-control"
											th:selected="${trainingEndMinuteTime.value == dailyAttendanceForm.trainingEndMinuteTime}">
											[[${trainingEndMinuteTime.value}]]</option>
									</select>
								</td>
								<!-- 李宏博 – Task.26　終了-->
								<td class="w120">
									<select th:name="|attendanceList[${stat.index}].blankTime|"
										th:style="${#fields.hasErrors('attendanceList[__${stat.index}__].blankTime')} ? 'border-color:#b94a48' : ''"
										class="form-control">
										<option th:each="blankTime : ${attendanceForm.blankTimes}"
											th:value="${blankTime.key}" th:inline="text" class="form-control"
											th:selected="${blankTime.key == dailyAttendanceForm.blankTime}">
											[[${blankTime.value}]]</option>
									</select>
								</td>
								<td class="w90">[[${dailyAttendanceForm.statusDispName}]]</td>
								<td class="w240">
									<input type="text" th:name="|attendanceList[${stat.index}].note|"
										th:style="${#fields.hasErrors('attendanceList[__${stat.index}__].note')} ? 'border-color:#b94a48' : ''"
										th:value="${dailyAttendanceForm.note}" class="form-control"></input>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>

				<div class="form-group">
					<th:block th:if="${session.loginUserDto.role == '0001'}">
						<a th:href="@{/attendance/detail}" class="btn btn-default">戻る</a>
					</th:block>
					<th:block th:if="${session.loginUserDto.role != '0001'}">
						<input type="submit" value="戻る" name="indexCompany" class="btn btn-default" />
					</th:block>
					<input type="submit" value="更新" name="complete" class="btn btn-info" />
				</div>

			</form>
		</div>
	</div>
	<!-- 李宏博 – Task.29 -->
	<script th:inline="javascript">
		const box = document.getElementById("scrollBox");
		box.style.display = "block";
		box.style.height = "600px";
		box.style.overflowY = "auto";
		const head = document.getElementById("head");
		head.style.display = "block";
		//李宏博 – Task.26：ダイアログ付属メソッド
		function updateDialog() {
			const updateResult = confirm("更新します。よろしいですか？");
			return updateResult
		}
		//李宏博 – Task.28：定時ボタン付属メソッド

		function setTime(index) {
			const startHour = document.getElementById("startHour_" + index);
			const startMinute = document.getElementById("startMinute_" + index);
			const endHour = document.getElementById("endHour_" + index);
			const endMinute = document.getElementById("endMinute_" + index);

			if (startHour) startHour.value =  /*[[${attendanceForm.trainingStartHourTime[9]}]]*/ '';
			if (startMinute) startMinute.value = /*[[${attendanceForm.trainingStartMinuteTime[0]}]]*/ '';
			if (endHour) endHour.value = /*[[${attendanceForm.trainingEndHourTime[18]}]]*/ '';
			if (endMinute) endMinute.value = /*[[${attendanceForm.trainingEndMinuteTime[0]}]]*/ '';
		}
	</script>
</body>

</html>